# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Alembic
alembic/versions/

# VS Code settings (optional)
.vscode/

# Environment variables / config (optional)
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# Pydantic and FastAPI compiled models
*.msgpack
